html, body {
  margin: 0;
  padding: 0;
  background: black;
  overflow: hidden;
  height: 100%;
}

#ghostVid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;

  filter: grayscale(1) blur(6px) brightness(1.1) contrast(0.9);
  z-index: -1;
}
