html, body {
  margin: 0;
  padding: 0;
  background: black;
  overflow: hidden;
  height: 100%;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  filter: blur(4px) brightness(1.1) contrast(0.8);
}
